.error-text {
  color: #dc3545;
  font-size: 0.875em;
  margin-top: 0.25em;
}
.shadow-hover {
  transition: box-shadow 0.2s;
   
}
.shadow-hover:hover {
  box-shadow: var(--bs-box-shadow-lg) !important;
}